<?xml version="1.0"?>

<launch>
	<node name="psm" pkg="polar_scan_matcher" type="psm_node">
		<param name="world_frame" value="world" />
		<param name="base_frame" value="footprint" />
		<param name="publish_tf" value="true" />
		<param name="publish_pose" value="true" />
	</node>

	<node name="dino_nav" pkg="dino_nav" type="dinonav" output="screen"/>
</launch>



