<?xml version="1.0"?>

<launch>
	<include file="$(find ackermann_vehicle_gazebo)/launch/ackermann_vehicle.launch" />

	<node name="dino_nav" pkg="dino_nav" type="dinonav" output="screen"/>
	<node name="dino_view" pkg="dino_nav" type="viewer"/>
	<node name="reconf" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

	<node name="scan_matcher" pkg="laser_scan_matcher" type="laser_scan_matcher_node" output="screen">
		<!--param name="use_cloud_input" value="true" /-->
		<param name="fixed_frame" value="map" />
		<param name="base_frame" value="footprint" />
		<param name="publish_tf" value="false" />
		<param name="publish_pose" value="false" />
		<param name="publish_pose_stamped" value="true" />
	</node>
</launch>



